@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-sarif;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial;
}

/* p {
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
} */

:root {
    --header-footer: #302a58;
}

.container_whole {
    width: 100%;
}

.container {
    width: 1500px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.hide {
    display: none;
}

.img__fluid {
    width: 100%;
}

/* ==============header section========== */
.header__Section {
    background-color: #302a58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_left {
    background-color: chocolate;
    width: 33%;
}



.header_middle {
    text-align: center;
    width: 33%;
}

.header_right {
    text-align: right;
    width: 33%;
}

.header_right a {
    display: inline-block;
    padding: 5px 26px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 2px 0px #292828;
    text-transform: uppercase;
}

.header_right a:first-child {
    background-color: #6acf2f;
    margin-right: 10px;
}

.header_right a:last-child {
    background-color: #fbc307;
}


/* hero slider css */



/* =====================
    section three start
    ===================== */
.section_three {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
}

/* ----------- deposit start --------- */
.deposit {
    background-color: #2e2828;
    /* width: 290px; */
    height: 199px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 10px 15px;
    color: #664726;
}

.deposit span:nth-child(1) {
    font-size: 19px;
    font-family: 'Kanit';
    margin-bottom: 10px;
}


.deposit span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kanit';
    line-height: 0.9;

}

.deposit span:nth-child(2) .fa.fa-btc {
    font-size: 43px;
    padding-right: 5px
}

.section_three_btn_grp {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.section_three_btn_grp a {
    display: inline-block;
    padding: 5px 26px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 2px 0px #292828;
    text-transform: uppercase;
}

.section_three_btn_grp a:nth-child(1) {
    background-color: #3ec31c;
    transition: all 0.2s ease;
}

.section_three_btn_grp a:nth-child(1):hover {
    box-shadow: 0px 0px 3px 2px #3ec31c;
}

.section_three_btn_grp a:nth-child(2) {
    background-color: #e0113a;
}

.section_three_btn_grp a:nth-child(2):hover {
    box-shadow: 0px 0px 3px 2px #e0113a;
}


/* ----------- deposit end --------- */








/* ------------ withdrew_bonus start ----------- */
.withdrew_bonus {
    background-color: #242328;
    /* width: 290px; */
    height: 199px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 10px 15px;
    color: #b5b5b6;
}

.withdrew_bonus span:nth-child(1) {
    font-size: 19px;
    font-family: 'Kanit';
    margin-bottom: 10px;
}


.withdrew_bonus span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kanit';
    line-height: 0.9;

}

.withdrew_bonus span:nth-child(2) .fa.fa-btc {
    font-size: 43px;
    padding-right: 5px
}

.withdrew_bonus span:nth-child(3) {
    margin-top: 48px;
}

.withdrew_bonus span:nth-child(3) a {
    display: inline-block;
    padding: 5px 26px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 2px 0px #292828;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: all 0.2s ease;
}

.withdrew_bonus span:nth-child(3) a:hover {
    color: #242328;
    background-color: burlywood;
}

.withdrew_progress {
    position: relative;
}

.prograss__bar {
    position: absolute;
    width: 46%;
    top: 45px;
    left: 8px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.circle_outer {
    text-align: center;
}

.circle {
    width: 40px;
    height: 40px;
    border: 3px solid #d00909;
    border-radius: 50%;
}

.circle p {
    font-size: 33px;
    font-weight: 500;
    color: #b5b5b6;
    display: inline-block;
}

.circlebg {
    border: 3px solid #b5b5b6;
}

/* ------------ withdrew_bonus end ----------- */

.refer_friend {
    background-color: #242328;
    /* width: 290px; */
    height: 199px;
    border-radius: 15px;
}

/* --------- invite_options start --------- */
.invite_options {
    width: 380px;
    height: 199px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.muibox {
    position: relative;
}

.muibox a {
    background-color: #242328;
    display: inline-block;
    padding: 14px;
    border-radius: 50%;
    width: 68px;
    height: 72px;
}

.muibox a img {
    width: 100%;
}

.muibox p {
    font-family: kanit;
    font-size: 0.9rem;
    text-align: center;
}

/* ---------- invite_options end ---------- */

/* ====================
    section four start
    =================== */
.second__slider {
    margin: 40px 0;
}

.swiper-wrapper {
    margin-bottom: 20px;
}


.swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 0;
    height: 8px;
}

.swiper-scrollbar-drag {
    background: none;
    height: 8px;
}

.swiper-scrollbar-drag:after {
    content: "";
    width: 1259px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.slider__item {
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.slider__item__one {
    background: url(../images/provider_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__two {
    background: url(../images/hit_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__three {
    background: url(../images/livecasino_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__four {
    background: url(../images/slot_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__five {
    background: url(../images/sport_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__six {
    background: url(../images/fishing_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__seven {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.slider__item__seven label {}

.slider__item__seven input {
    width: 157%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.slider__item__one:hover,
.slider__item__two:hover,
.slider__item__three:hover,
.slider__item__four:hover,
.slider__item__five:hover,
.slider__item__six:hover {
    transform: scale(1.1);
}


.swiper {
    width: 100% !important;
    height: 100%;
}



/* .swiper-slide:nth-child(-1+6) {
    width: 10% !important;
}

.swiper-slide:nth-child(7) {
    width: 40% !important;
} */

/* ====================
    section five start
    =================== */
.game_camp {
    margin-bottom: 40px;
}

.game_camp a {
    display: inline-block;
    padding: 5px 10px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    /* color: aliceblue; */
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 3px 4px 2px 0px #292828; */
    text-transform: uppercase;
    border: 1px solid #876a6a;
    transition: all 0.2s ease;
    width: 165px;
}

.game_camp a {
    display: flex;
    gap: 5px;
    align-items: center;
}

.game_camp a img {
    width: 40px;
    height: 40px;
}

.game_camp a p {
    display: inline-block;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
}

/* ----------- section five slider start ------------- */
.third__slider {
    margin-bottom: 40px;
}

.item {
    margin-right: 10px;
}

.item a {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.item a img {
    border-radius: 46px;
}

/* ------------ section five slider end ------------ */

/**
    media query css
*/
@media only screen and (max-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 100%;
    }


}

@media only screen and (max-width: 991px) {



    .header__Section {
        display: flex;
        justify-content: space-between;
    }

    .header_left {
        display: none;
    }

    .header_right {
        width: 50%;
    }

    .header_middle {
        width: 50%;
        text-align: left;
    }

    .header_right a {
        display: inline-block;
        padding: 5px 14px;
        font-family: kanit;
        font-size: 0.8rem;
        font-weight: 400;
        color: aliceblue;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 3px 4px 2px 0px #292828;
    }


}

@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
    }

}

@media only screen and (max-width: 575px) {

    .container {
        width: 100%;
    }







}

@media only screen and (max-width: 445px) {
    .container {
        width: 100%;
    }


}