@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-sarif;
    background-image: url(../images/web_bg.png);
    background-repeat: no-repeat;
    /* background-position: center center;
    background-size: cover; */
    background-attachment: fixed;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial;
}


:root {
    --header-footer: #302a58;
}

.container_whole {
    width: 100%;
}

.container {
    width: 1500px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.hide {
    display: none;
}

.img__fluid {
    width: 100%;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-75 {
    margin-top: 75px;
}

.mt-500 {
    margin-top: 500px;
}

.pl-10 {
    padding-left: 10px;
}

.textalign {
    text-align: center;
}

.redirect__custom {
    display: block;
    cursor: pointer;
}


#section__four__hidden {
    display: none;
}

/* ==============header section========== */
.header__Section {
    background-color: #302a58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999999;
}

.header_left {
    background-color: chocolate;
    width: 33%;
}



.header_middle {
    text-align: center;
    width: 33%;
}

.header_right {
    text-align: right;
    width: 33%;
}

.header_right a {
    display: inline-block;
    padding: 5px 26px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 2px 0px #292828;
    text-transform: uppercase;
}

.header_right a:first-child {
    background-color: #6acf2f;
    margin-right: 10px;
}

.header_right a:last-child {
    background-color: #fbc307;
}



.hero_item {
    height: 300px;
}

.hero__slider>.HeroSlider>.swiper-wrapper {
    width: 100%;
    padding: 0;
}

.hero_item img {
    border-radius: 40px;
    height: 100%;
    vertical-align: top;
}

/* hero slider css end*/



/* =====================
    section three start
    ===================== */
.section_three {
    padding: 40px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
}


/* ----------- deposit start --------- */
.deposit {
    background-color: #2e2828;
    width: 290px;
    height: 199px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 10px 15px;
    color: #664726;
}

.deposit span:nth-child(1) {
    font-size: 19px;
    font-family: 'Kanit';
    margin-bottom: 10px;
}


.deposit span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kanit';
    line-height: 0.9;

}

.deposit span:nth-child(2) .fa.fa-btc {
    font-size: 43px;
    padding-right: 5px
}

.section_three_btn_grp {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.section_three_btn_grp a {
    display: inline-block;
    padding: 5px 26px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 2px 0px #292828;
    text-transform: uppercase;
}

.section_three_btn_grp a:nth-child(1) {
    background-color: #3ec31c;
    transition: all 0.2s ease;
}

.section_three_btn_grp a:nth-child(1):hover {
    box-shadow: 0px 0px 3px 2px #3ec31c;
}

.section_three_btn_grp a:nth-child(2) {
    background-color: #e0113a;
}

.section_three_btn_grp a:nth-child(2):hover {
    box-shadow: 0px 0px 3px 2px #e0113a;
}

/* ----------- deposit end --------- */








/* ------------ withdrew_bonus start ----------- */
.withdrew_bonus {
    background-color: #242328;
    width: 290px;
    height: 199px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 10px 15px;
    color: #b5b5b6;
}

.withdrew_bonus span:nth-child(1) {
    font-size: 19px;
    font-family: 'Kanit';
    margin-bottom: 10px;
}


.withdrew_bonus span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kanit';
    line-height: 0.9;

}

.withdrew_bonus span:nth-child(2) .fa.fa-btc {
    font-size: 43px;
    padding-right: 5px
}

.withdrew_bonus span:nth-child(3) {
    margin-top: 48px;
}

.withdrew_bonus span:nth-child(3) a {
    display: inline-block;
    padding: 5px 26px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 2px 0px #292828;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: all 0.2s ease;
}

.withdrew_bonus span:nth-child(3) a:hover {
    color: #242328;
    background-color: burlywood;
}

.withdrew_progress {
    position: relative;
}

.prograss__bar {
    position: absolute;
    width: 46%;
    top: 45px;
    left: 8px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.circle_outer {
    text-align: center;
}

.circle {
    width: 40px;
    height: 40px;
    border: 3px solid #d00909;
    border-radius: 50%;
}

.circle p {
    font-size: 33px;
    font-weight: 500;
    color: #b5b5b6;
    display: inline-block;
}

.circlebg {
    border: 3px solid #b5b5b6;
}

/* ------------ withdrew_bonus end ----------- */

.refer_friend {
    background-color: #242328;
    /* width: 290px; */
    height: 199px;
    border-radius: 15px;
}

/* --------- invite_options start --------- */
.invite_options {
    width: 380px;
    height: 199px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.muibox {
    position: relative;
}

.muibox a {
    background-color: #242328;
    display: inline-block;
    padding: 14px;
    border-radius: 50%;
    width: 68px;
    height: 72px;
}

.muibox a img {
    width: 100%;
}

.muibox p {
    font-family: kanit;
    font-size: 0.9rem;
    text-align: center;
    color: white;
}

/* ---------- invite_options end ---------- */

/* ====================
    section four start
    =================== */
.second__slider {
    margin: 40px 0;
}

.swiper-wrapper {
    margin-bottom: 10px;
    padding: 10px 10px;
}


.swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 0;
    height: 8px;
}

.swiper-scrollbar-drag {
    background: none;
    height: 8px;
}

.swiper-scrollbar-drag:after {
    content: "";
    width: 1400px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.swiper-two .swiper-scrollbar-drag:after {
    content: "";
    width: 1259px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.swiper-three .swiper-scrollbar-drag:after {
    content: "";
    width: 659px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.swiper-four .swiper-scrollbar-drag:after {
    content: "";
    width: 359px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.swiper-five .swiper-scrollbar-drag:after {
    content: "";
    width: 459px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.swiper-six .swiper-scrollbar-drag:after {
    content: "";
    width: 459px;
    height: 8px;
    border-radius: 10px;
    background: #a8bbbf;
    position: absolute;
    top: 0;
}

.slider__item {
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.slider__item__one {
    background: url(../images/provider_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__two {
    background: url(../images/hit_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__three {
    background: url(../images/livecasino_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__four {
    background: url(../images/slot_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__five {
    background: url(../images/sport_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__six {
    background: url(../images/fishing_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slider__item__seven {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

}

.slider__item__seven i {
    position: absolute;
    color: #959595;
    top: 51%;
    left: 3%;
}

.slider__item__seven label {
    color: #939292;
    padding-left: 10px;
}

.slider__item__seven input {
    width: 157%;
    height: 40px;
    border: 1px solid #29233b;
    border-radius: 20px;
    background-color: #29233b;
    color: white;
    outline: none;
    padding: 23px 10px;
    opacity: 0.9;
    padding-left: 30px;
}

.slider__item__one:hover,
.slider__item__two:hover,
.slider__item__three:hover,
.slider__item__four:hover,
.slider__item__five:hover,
.slider__item__six:hover {
    transform: scale(1.1);
}

.slider__item__one p,
.slider__item__two p,
.slider__item__three p,
.slider__item__four p,
.slider__item__five p,
.slider__item__six p {
    /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
    font-weight: 400;
    /* font-size: 1rem; */
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: white;
    font-family: KanitBold;
    font-size: 18px;
}

.swiper {
    width: 100% !important;
    height: 100%;
}



/* .swiper-slide:nth-child(-1+6) {
    width: 10% !important;
}

.swiper-slide:nth-child(7) {
    width: 40% !important;
} */

/* ====================
    section five start
    =================== */
.game_camp {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.game_camp a {
    display: inline-block;
    padding: 5px 10px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    /* color: aliceblue; */
    border-radius: 25px;
    cursor: pointer;
    /* box-shadow: 3px 4px 2px 0px #292828; */
    text-transform: uppercase;
    border: 1px solid #876a6a;
    transition: all 0.2s ease;
    width: 190px;
}

.game_camp a {
    display: flex;
    gap: 9px;
    align-items: center;
    background: #fff;
}

.game_camp a img {
    width: 40px;
    height: 40px;
}

.game_camp a p {
    display: inline-block;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
}

.game_camp a:nth-child(2) {
    display: inline-block;
    padding: 5px 10px;
    font-family: kanit;
    font-size: 1.25rem;
    font-weight: 400;
    color: aliceblue;
    background-color: #e1113b;
    border-radius: 25px;
    cursor: pointer;
    /* box-shadow: 3px 4px 2px 0px #292828; */
    text-transform: uppercase;
    border: 1px solid #876a6a;
    transition: all 0.2s ease;
    width: 155px;
    text-align: center;
    transition: all 0.3s ease;
}

.game_camp a:nth-child(2):hover {
    box-shadow: 1px 1px 5px #e1113b;
}

.game_camp a:nth-child(2) p {
    display: inline-block;
    font-family: kanit;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

/* ----------- section five slider start ------------- */
.third__slider {
    margin-bottom: 40px;
}

.third__slider_item {
    position: relative;
}

.third__slider_item:hover {
    transform: scale(1.1);
}

.third__slider_item:hover a {
    opacity: 1;
}

.third__slider_item a {
    opacity: 0;
    width: 92%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: kanit;
    font-size: 1.20rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transform: translate(-50%, -50%);
    background: #6acf2f;
    padding: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.third__slider_item a:hover {
    box-shadow: 1px 1px 7px #6acf2f;
}

.third__slider_item img {
    display: block;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 15px;
}

/* ------------ section five slider end ------------ */


/* ============ section six start ============= */
.game__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
}

.pragmatic__item__one {
    background: url(../images/PRAGMATIC_vswaysluckyfish.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__two {
    background: url(../images/PRAGMATIC_vs10bbkir.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__three {
    background: url(../images/PRAGMATIC_vswaysrabbits.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__four {
    background: url(../images/PRAGMATIC_vs20drgbless.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__five {
    background: url(../images/PGSOFT_midas-fortune.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__six {
    background: url(../images/PGSOFT_asgardian-rs.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__seven {
    background: url(../images/PGSOFT_diner-delights.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__eight {
    background: url(../images/PGSOFT_alchemy-gold.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__nine {
    background: url(../images/PGSOFT_totem-wonders.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__ten {
    background: url(../images/PGSOFT_fortune-tiger.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__eleven {
    background: url(../images/PGSOFT_mahjong-ways2.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__twelve {
    background: url(../images/PGSOFT_treasures-aztec.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__thirteen {
    background: url(../images/PRAGMATIC_vs20sugarrush.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__fourteen {
    background: url(../images/YGGDRASIL_10225.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__fifteen {
    background: url(../images/NOLIMITCITY_180009.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.pragmatic__item__one:hover,
.pragmatic__item__two:hover,
.pragmatic__item__three:hover,
.pragmatic__item__four:hover,
.pragmatic__item__five:hover,
.pragmatic__item__six:hover,
.pragmatic__item__seven:hover,
.pragmatic__item__eight:hover,
.pragmatic__item__nine:hover,
.pragmatic__item__ten:hover,
.pragmatic__item__eleven:hover,
.pragmatic__item__twelve:hover,
.pragmatic__item__thirteen:hover,
.pragmatic__item__fourteen:hover,
.pragmatic__item__fifteen:hover {
    transform: scale(1.1);
}


.pragmatic__item__one:hover a,
.pragmatic__item__two:hover a,
.pragmatic__item__three:hover a,
.pragmatic__item__four:hover a,
.pragmatic__item__five:hover a,
.pragmatic__item__six:hover a,
.pragmatic__item__seven:hover a,
.pragmatic__item__eight:hover a,
.pragmatic__item__nine:hover a,
.pragmatic__item__ten:hover a,
.pragmatic__item__eleven:hover a,
.pragmatic__item__twelve:hover a,
.pragmatic__item__thirteen:hover a,
.pragmatic__item__fourteen:hover a,
.pragmatic__item__fifteen:hover a {
    display: inline-block;
}


.pragmatic__item__one a,
.pragmatic__item__two a,
.pragmatic__item__three a,
.pragmatic__item__four a,
.pragmatic__item__five a,
.pragmatic__item__six a,
.pragmatic__item__seven a,
.pragmatic__item__eight a,
.pragmatic__item__nine a,
.pragmatic__item__ten a,
.pragmatic__item__eleven a,
.pragmatic__item__twelve a,
.pragmatic__item__thirteen a,
.pragmatic__item__fourteen a,
.pragmatic__item__fifteen a {
    display: none;
    font-family: kanit;
    font-size: 1.20rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    background: gray;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.pragmatic__item__one a:hover,
.pragmatic__item__two a:hover,
.pragmatic__item__three a:hover,
.pragmatic__item__four a:hover,
.pragmatic__item__five a:hover,
.pragmatic__item__six a:hover,
.pragmatic__item__seven a:hover,
.pragmatic__item__eight a:hover,
.pragmatic__item__nine a:hover,
.pragmatic__item__ten a:hover,
.pragmatic__item__eleven a:hover,
.pragmatic__item__twelve a:hover,
.pragmatic__item__thirteen a:hover,
.pragmatic__item__fourteen a:hover,
.pragmatic__item__fifteen a:hover {
    box-shadow: 0px 0px 10px #000;
}


.game__title p {
    letter-spacing: 0.00938em;
    color: rgb(249, 201, 0);
    font-family: ks;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    padding-bottom: 5px;
}

.game__title span {
    margin: 0px;
    /* line-height: 1.5; */
    letter-spacing: 0.00938em;
    color: rgb(255 255 255 / 80%);
    font-family: ks;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

/* ============ section six end ============= */


/* section nine start */
.pragmatic__special__item__one {
    background: url(../images/SBO.png);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;

}

.pragmatic__special__item__one:hover {
    transform: scale(1.1);
}

.pragmatic__special__item__one a {
    display: none;
    font-family: kanit;
    font-size: 1.20rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    background: gray;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.pragmatic__special__item__one a:hover {
    box-shadow: 0px 0px 10px #000;
}

.pragmatic__special__item__one:hover a {
    display: inline-block;
}



/* section nine end */

/* ===================
    section ten start
    ================== */
.section__ten__pragmatic__item__one {
    background: url(../images/JILI_42.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__two {
    background: url(../images/JILI_32.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__three {
    background: url(../images/JILI_60.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__four {
    background: url(../images/JILI_1.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__five {
    background: url(../images/SLOTXO_kk8nqm3cfwtng.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__six {
    background: url(../images/SLOTXO_st5cmuqnaxycn.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__seven {
    background: url(../images/SLOTXO_8d7r1okge7nrk.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__eight {
    background: url(../images/SLOTXO_xq9ohbyf9m79o.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__nine {
    background: url(../images/SLOTXO_ddpg1amgc71gk.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__ten {
    background: url(../images/SLOTXO_1jeqx59c7ztqg.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__eleven {
    background: url(../images/SLOTXO_xkhy6baryz7xs.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twelve {
    background: url(../images/SLOTXO_nzkseaudcbosc.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__thirteen {
    background: url(../images/SLOTXO_p63ornyjba8oa.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__fourteen {
    background: url(../images/SLOTXO_4omkmmpnwqokn.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__fifteen {
    background: url(../images/SLOTXO_qq5ocdypyeboy.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__sixteen {
    background: url(../images/SLOTXO_g54rso4yefdrq.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__seventeen {
    background: url(../images/SLOTXO_ary5bxi9z165r.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__eightteen {
    background: url(../images/SLOTXO_b8rzo7uzqt4sw.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__nineteen {
    background: url(../images/SLOTXO_wi17jwsu4de7c.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twenty {
    background: url(../images/SPADE_F-SF02.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentyone {
    background: url(../images/SPADE_F-SF01.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentytwo {
    background: url(../images/SIMPLEPLAY_EG-FISHING-001.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentythree {
    background: url(../images/SPADE_F-AH01.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentyfour {
    background: url(../images/JILI_20.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentyfive {
    background: url(../images/JILI_119.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentysix {
    background: url(../images/JILI_71.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentyseven {
    background: url(../images/JILI_82.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__twentyeight {
    background: url(../images/JILI_74.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__thirty {
    background: url(../images/CQ9V2_AT05.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__thirtyone {
    background: url(../images/CQ9V2_AT01.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__thirtytwo {
    background: url(../images/CQ9V2_AB3.webp);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    background-position: 50% 50%;
    width: 190px;
    height: 190px;
    box-shadow: black 1px 1px 5px;
    background-color: #3e3262;
}

.section__ten__pragmatic__item__one:hover,
.section__ten__pragmatic__item__two:hover,
.section__ten__pragmatic__item__three:hover,
.section__ten__pragmatic__item__four:hover,
.section__ten__pragmatic__item__five:hover,
.section__ten__pragmatic__item__six:hover,
.section__ten__pragmatic__item__seven:hover,
.section__ten__pragmatic__item__eight:hover,
.section__ten__pragmatic__item__nine:hover,
.section__ten__pragmatic__item__ten:hover,
.section__ten__pragmatic__item__eleven:hover,
.section__ten__pragmatic__item__twelve:hover,
.section__ten__pragmatic__item__thirteen:hover,
.section__ten__pragmatic__item__fourteen:hover,
.section__ten__pragmatic__item__fifteen:hover,
.section__ten__pragmatic__item__sixteen:hover,
.section__ten__pragmatic__item__seventeen:hover,
.section__ten__pragmatic__item__eightteen:hover,
.section__ten__pragmatic__item__nineteen:hover,
.section__ten__pragmatic__item__twenty:hover,
.section__ten__pragmatic__item__twentyone:hover,
.section__ten__pragmatic__item__twentytwo:hover,
.section__ten__pragmatic__item__twentythree:hover,
.section__ten__pragmatic__item__twentyfour:hover,
.section__ten__pragmatic__item__twentyfive:hover,
.section__ten__pragmatic__item__twentysix:hover,
.section__ten__pragmatic__item__twentyseven:hover,
.section__ten__pragmatic__item__twentyeight:hover,
.section__ten__pragmatic__item__thirty:hover,
.section__ten__pragmatic__item__thirtyone:hover,
.section__ten__pragmatic__item__thirtytwo:hover {
    transform: scale(1.1);
}


.section__ten__pragmatic__item__one:hover a,
.section__ten__pragmatic__item__two:hover a,
.section__ten__pragmatic__item__three:hover a,
.section__ten__pragmatic__item__four:hover a,
.section__ten__pragmatic__item__five:hover a,
.section__ten__pragmatic__item__six:hover a,
.section__ten__pragmatic__item__seven:hover a,
.section__ten__pragmatic__item__eight:hover a,
.section__ten__pragmatic__item__nine:hover a,
.section__ten__pragmatic__item__ten:hover a,
.section__ten__pragmatic__item__eleven:hover a,
.section__ten__pragmatic__item__twelve:hover a,
.section__ten__pragmatic__item__thirteen:hover a,
.section__ten__pragmatic__item__fourteen:hover a,
.section__ten__pragmatic__item__fifteen:hover a,
.section__ten__pragmatic__item__sixteen:hover a,
.section__ten__pragmatic__item__seventeen:hover a,
.section__ten__pragmatic__item__eightteen:hover a,
.section__ten__pragmatic__item__nineteen:hover a,
.section__ten__pragmatic__item__twenty:hover a,
.section__ten__pragmatic__item__twentyone:hover a,
.section__ten__pragmatic__item__twentytwo:hover a,
.section__ten__pragmatic__item__twentythree:hover a,
.section__ten__pragmatic__item__twentyfour:hover a,
.section__ten__pragmatic__item__twentyfive:hover a,
.section__ten__pragmatic__item__twentysix:hover a,
.section__ten__pragmatic__item__twentyseven:hover a,
.section__ten__pragmatic__item__twentyeight:hover a,
.section__ten__pragmatic__item__thirty:hover a,
.section__ten__pragmatic__item__thirtyone:hover a,
.section__ten__pragmatic__item__thirtytwo:hover a {
    display: inline-block;
}


.section__ten__pragmatic__item__one a,
.section__ten__pragmatic__item__two a,
.section__ten__pragmatic__item__three a,
.section__ten__pragmatic__item__four a,
.section__ten__pragmatic__item__five a,
.section__ten__pragmatic__item__six a,
.section__ten__pragmatic__item__seven a,
.section__ten__pragmatic__item__eight a,
.section__ten__pragmatic__item__nine a,
.section__ten__pragmatic__item__ten a,
.section__ten__pragmatic__item__eleven a,
.section__ten__pragmatic__item__twelve a,
.section__ten__pragmatic__item__thirteen a,
.section__ten__pragmatic__item__fourteen a,
.section__ten__pragmatic__item__fifteen a,
.section__ten__pragmatic__item__sixteen a,
.section__ten__pragmatic__item__seventeen a,
.section__ten__pragmatic__item__eightteen a,
.section__ten__pragmatic__item__nineteen a,
.section__ten__pragmatic__item__twenty a,
.section__ten__pragmatic__item__twentyone a,
.section__ten__pragmatic__item__twentytwo a,
.section__ten__pragmatic__item__twentythree a,
.section__ten__pragmatic__item__twentyfour a,
.section__ten__pragmatic__item__twentyfive a,
.section__ten__pragmatic__item__twentysix a,
.section__ten__pragmatic__item__twentyseven a,
.section__ten__pragmatic__item__twentyeight a,
.section__ten__pragmatic__item__thirty a,
.section__ten__pragmatic__item__thirtyone a,
.section__ten__pragmatic__item__thirtytwo a {
    display: none;
    font-family: kanit;
    font-size: 1.20rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    background: gray;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.section__ten__pragmatic__item__one a:hover,
.section__ten__pragmatic__item__two a:hover,
.section__ten__pragmatic__item__three a:hover,
.section__ten__pragmatic__item__four a:hover,
.section__ten__pragmatic__item__five a:hover,
.section__ten__pragmatic__item__six a:hover,
.section__ten__pragmatic__item__seven a:hover,
.section__ten__pragmatic__item__eight a:hover,
.section__ten__pragmatic__item__nine a:hover,
.section__ten__pragmatic__item__ten a:hover,
.section__ten__pragmatic__item__eleven a:hover,
.section__ten__pragmatic__item__twelve a:hover,
.section__ten__pragmatic__item__thirteen a:hover,
.section__ten__pragmatic__item__fourteen a:hover,
.section__ten__pragmatic__item__fifteen a:hover,
.section__ten__pragmatic__item__sixteen a:hover,
.section__ten__pragmatic__item__seventeen a:hover,
.section__ten__pragmatic__item__eightteen a:hover,
.section__ten__pragmatic__item__nineteen a:hover,
.section__ten__pragmatic__item__twenty a:hover,
.section__ten__pragmatic__item__twentyone a:hover,
.section__ten__pragmatic__item__twentytwo a:hover,
.section__ten__pragmatic__item__twentythree a:hover,
.section__ten__pragmatic__item__twentyfour a:hover,
.section__ten__pragmatic__item__twentyfive a:hover,
.section__ten__pragmatic__item__twentysix a:hover,
.section__ten__pragmatic__item__twentyseven a:hover,
.section__ten__pragmatic__item__twentyeight a:hover,
.section__ten__pragmatic__item__thirty a:hover,
.section__ten__pragmatic__item__thirtyone a:hover,
.section__ten__pragmatic__item__thirtytwo a:hover {
    box-shadow: 0px 0px 10px #000;
}



/* ===================
    section ten end
    ================== */

/* footer section start */
.DeskTopfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302a58;
}

.footer_right p {
    color: white;
}

/* footer section end */




/**
    second page css style start
*/

.scnd__page__main__sec {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-top: 75px;
}

.scnd__page__main__sec .sidebar {
    width: calc(100% - 85%);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.content_wrapper {
    width: calc(100% - 15%);
}

.scnd__page__main__sec .content {
    /* width: calc(100% - 15%); */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    height: fit-content;
    position: relative;
    padding-top: 100px;
}

.content__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    display: flex;
    align-items: center;
}

.content__title p {
    color: white;
}

.content_item_wrapper {
    margin-bottom: 40px;
}

.content_item_wrapper p {
    letter-spacing: 0.00938em;
    color: #F9C900;
    font-family: ks;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    line-height: 0.8;
    white-space: normal;
}

.content_third__slider_item {
    position: relative;
    height: fit-content;
}

.content_third__slider_item:hover {
    transform: scale(1.1);
}

.content_third__slider_item:hover a {
    opacity: 1;
}

.content_third__slider_item a {
    opacity: 0;
    width: 92%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: kanit;
    font-size: 1.20rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transform: translate(-50%, -50%);
    background: #6acf2f;
    padding: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.content_third__slider_item a:hover {
    box-shadow: 1px 1px 7px #6acf2f;
}

.content_third__slider_item img {
    display: block;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 15px;
}

/* .second__page_before__footer {
    padding: 200px 0 0 0;
} */


/* responsive footer start */
.responsive__footer {
    background-color: white;
    padding: 30px 60px;
    border-radius: 20px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    /* width: 100%; */
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    opacity: 0;
}

.sticky__footer_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.res__ftr_first_item,
.res__ftr_second_item,
.res__ftr_third_item,
.res__ftr_fourth_item,
.res__ftr_five_item,
.res__ftr_six_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.res__ftr_first_item p,
.res__ftr_second_item p,
.res__ftr_third_item p,
.res__ftr_fourth_item p,
.res__ftr_five_item p,
.res__ftr_six_item p {
    font-weight: 400;
    line-height: 1.5;
    color: rgb(128, 128, 128);
    font-family: kanit;
    font-size: 10px;
    letter-spacing: 0.01rem;
}

.res__ftr_first_item img,
.res__ftr_second_item img,
.res__ftr_third_item img,
.res__ftr_fourth_item img,
.res__ftr_five_item img,
.res__ftr_six_item img {
    width: 35px;
    height: 35px;
}

.res__ftr_first_item {
    /* position: relative; */
    /* width: 264px; */
    /* padding: 30px; */
}

.res__ftr_first_item_wraper {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: black 0px 0px 5px 0px;
    padding: 25px;
    bottom: 50px;
    left: 50px;
}

.res__ftr_first_item_wraper p {
    margin: 5px 0px 0px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(128, 128, 128);
    font-family: ks;
    font-size: 16px;
    font-weight: 700;
}

.res__ftr_first_item_wraper img {
    display: inline-block;
    width: 100%;
}

/* responsive footer end */


/**
    media query css
*/
@media only screen and (max-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 100%;
    }

    .section_three {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6px;
    }

    .res__ftr_first_item_wraper {
        position: absolute;
        /* width: 100%; */
        /* height: 100%; */
        background-color: white;
        border: 1px solid gray;
        border-radius: 50%;
        box-shadow: black 0px 0px 5px 0px;
        padding: 25px;
        bottom: 20px;
        left: 50px;
    }


}

@media only screen and (max-width: 991px) {



    .header__Section {
        display: flex;
        justify-content: space-between;
    }

    .header_left {
        display: none;
    }

    .header_right {
        width: 50%;
    }

    .header_middle {
        width: 50%;
        text-align: left;
    }

    .header_right a {
        display: inline-block;
        padding: 5px 14px;
        font-family: kanit;
        font-size: 0.8rem;
        font-weight: 400;
        color: aliceblue;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 3px 4px 2px 0px #292828;
    }

    .section_three {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6px;
    }

    /* second page responsive */
    .scnd__page__main__sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }

    .sidebar {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 20px !important;
    }

    .content {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .responsive__footer {
        opacity: 1;
    }

    #sectionThree {
        display: none;
    }

    #sectionThreeResponsive {
        display: block;
    }

    #section__four__hidden {
        display: block;
    }

    .section__four__desktop__view {
        display: none;
    }

}

@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
    }

    .section_three {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        /* padding: 0 10px; */
    }

    .content {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }


    #sectionThree {
        display: none;
    }

    #sectionThreeResponsive {
        display: block;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 575px) {

    .container {
        width: 100%;
    }

    .section_three {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6px;
    }

    .content {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .res__ftr_first_item_wraper {
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 50%;
        box-shadow: black 0px 0px 5px 0px;
        padding: 25px;
        bottom: 37px;
        left: 18px;
    }

    .res__ftr_first_item_wraper img {
        display: inline-block;
        width: 90%;
        height: 103%;
        margin-top: -10px;
    }

    .res__ftr_first_item_wraper p {
        line-height: 1.5;
        letter-spacing: 0.00938em;
        color: rgb(128, 128, 128);
        font-family: ks;
        font-size: 11px;
        font-weight: 700;
        white-space: 0;
        display: inline-block;
        width: 100px;
        margin-left: -8px;
    }

    .responsive__footer {
        background-color: white;
        padding: 10px 15px;
        border-radius: 20px;
        /* position: fixed; */
        bottom: 0;
        left: 0;
        /* width: 100%; */
        left: 0;
        bottom: 0;
        width: 100%;
        position: fixed;
        z-index: 9999999;
        opacity: 1;
    }

    #sectionThree {
        display: none;
    }

    #sectionThreeResponsive {
        display: none;
    }

    #sectionThreeHiddenSlider {
        display: block;
    }



}

@media only screen and (max-width: 445px) {
    .container {
        width: 100%;
    }

    .section_three {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6px;
    }

    .content {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .res__ftr_first_item_wraper img {
        display: inline-block;
        width: 90%;
        height: 103%;
        margin-top: -15px;
    }

    .res__ftr_first_item_wraper p {
        line-height: 1.5;
        letter-spacing: 0.00938em;
        color: rgb(128, 128, 128);
        font-family: ks;
        font-size: 11px;
        font-weight: 700;
        white-space: 0;
        display: inline-block;
        width: 100px;
        margin-left: -9px;
        margin-top: -21px;
    }

    .res__ftr_first_item_wraper {
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 50%;
        box-shadow: black 0px 0px 5px 0px;
        padding: 18px;
        bottom: 37px;
        left: 18px;
    }
}